/*---------- General ----------*/

:root{
    --bg-overlay: #13192e;
    --green: #008837;
    --blue: #01a0c6 ;
    --dark-blue: #032732; 
    --white: #ffffff;
    --black: #000000;
    --gray: #48494b;
    --blue-dark: #065364;
    --blue-link: #a4ddec;
    --green-light: #def6e1;
    --blue-light: #d6eef3;
}

/*---------- Fonts ----------*/

@font-face{
    font-family: DroidSerifRegular ;
    src: url('../fonts/DroidSerif-Regular.ttf'),
    url('../fonts/DroidSerif-Regular.woff') format('woff'),
    url('../fonts/DroidSerif-Regular.otf') format('opentype'),
    url('../fonts/DroidSerif-Regular.ttf') format('truetype');
  }

  @font-face{
    font-family: DroidSerifItalic ;
    src: url('../fonts/DroidSerif-Italic.ttf'),
    url('../fonts/DroidSerif-Italic.woff') format('woff'),
    url('../fonts/DroidSerif-Italic.otf') format('opentype'),
    url('../fonts/DroidSerif-Italic.ttf') format('truetype');
  }
  @font-face{
    font-family: DroidSerifBoldItalic ;
    src: url('../fonts/DroidSerif-BoldItalic.ttf'),
    url('../fonts/DroidSerif-BoldItalic.woff') format('woff'),
    url('../fonts/DroidSerif-BoldItalic.otf') format('opentype'),
    url('../fonts/DroidSerif-BoldItalic.ttf') format('truetype');
  }
  @font-face{
    font-family: DroidSerifBold ;
    src: url('../fonts/DroidSerif-Bold.ttf'),
    url('../fonts/DroidSerif-Bold.woff') format('woff'),
    url('../fonts/DroidSerif-Bold.otf') format('opentype'),
    url('../fonts/DroidSerif-Bold.ttf') format('truetype');
  }



/*---------- Estilos ----------*/

/* --   --*/


h1.h2, h1, h2, h3, h4, h5, h6{
    font-family: DroidSerifBold ;
    color: var(--dark-blue);
}
.h4, h4 {
    font-size: 1.2rem;
}
p{
    font-family: DroidSerifRegular ;
    color: var(--gray);
}
a{
    font-family: DroidSerifBold ;
    color: var(--blue-link);
}

section{
    padding: 60px 0;
}


.divider{
    height: 5px;
    background-color: var(--blue);
    width: 10%;
    margin: 15px auto;
}
.about .divider{
    margin: 30px auto;
}
.about p{
    line-height: 1.8;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: none !important;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none !important;
    border-radius: .25rem;
}

.header{
    background: url(../images/banner-home.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.header::before{
    content: '';
    position: absolute;
    background-color: var(--bg-overlay);
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header .header-title{
    padding: 200px 0;
}
.header .header-title h1, .header .header-title p{
    color: var(--white);
}

.header .navbar-light .navbar-nav .nav-link {
    color: var(--white);
}

.icon{
    margin: 30px 0 ;
}
.box-icon h4{
    margin-bottom: 20px;
}

 .btn.btn-primary{
    font-size: 13px;
    padding: 20px 32px;

}
.btn.btn-primary.green, .btn.btn-primary.green:focus, .btn.btn-primary.green:hover{
    background-image: linear-gradient(to top, #007a30, #007d32, #008133, #008435, #008837);
    border: 0;
    font-family: DroidSerifBold ;
}
.btn.btn-primary.blue, .btn.btn-primary.blue:focus, .btn.btn-primary.blue:hover {
    background-image: linear-gradient(to top, #0196c0, #0099c2, #009bc3, #009ec5, #01a0c6);
    border: 0;
    font-family: DroidSerifBold ;
}
.form-control{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #545454;
    border-radius: 4px;
    
    
}
::placeholder{
    font-family: DroidSerifRegular;
}


.bg-hero{
    padding: 30px;
    height: 500px;
    margin-bottom: 100px;
}
.bg-hero.blue-light{
    background-color: var(--blue-light);
}
.bg-hero.green-light{
    background-color: var(--green-light);
}
img.box-img {
    height: 480px;
    object-fit: cover;
}
section.container-fluid.hero {
    position: relative;
}
.hero-pro {
    top: 130px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.mt--150{
    margin-top: -150px;
}


.notice .bg-hero{
    background-color: var(--blue-dark) ;
    padding: 60px;
    height: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.notice a{
    color: var(--blue-link);
}

.bg-hero-image{
    background: url(../images/bg-hero-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-hero-image::before{
    content: '';
    position: absolute;
    background-color: var(--blue-dark);
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



/*---------- Back to top button ----------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }
  
  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: var(--blue);
    color: #fff;
    transition: all 0.4s;
  }
  
  .back-to-top i:hover {
    background: var(--blue);
    color: #fff;
  }


footer .widgets{
    background-color: var(--blue-dark);
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .widgets a.nav-link, footer .widgets .nav-link {
    padding: .5rem 0rem;
}

footer p{
    color: var(--white);
}
footer ul li a{
    color: var(--blue-link);
    font-size: 12px;
}
footer ul li a:hover{
    color: var(--white);
}
footer .copyright i{
    font-size: 22px;
}
footer .copyright p, footer .copyright ul li, footer .copyright ul li a, footer .copyright .nav-link, footer .copyright .navbar{
    margin: 0;
    padding: 0;
}



footer .copyright{
    background-color: #03303b;
    padding: 20px 0 ;
    display: flex;
    align-items: center;
}




/*---------- Media ----------*/
@media only screen and (max-width:1024px){
    .mt--150{
    margin-top: 0px;
}
}
@media only screen and (max-width:768px){
    .header{
        background-position: right;
    }
    .mt--150{
        margin-top: 0px;
    }
   
}
@media only screen and (max-width:435px){
    .header{
        padding: 10px;
        min-height: auto;
        height: auto;
        background-position: center;
    }
    .header .header-title {
        padding: 100px 0;
    }
    .logo{
        width: 200px;
    }
    .notice .bg-hero {
        height: auto;
       
    }
    .bg-hero {
     
        height: 200px;
        margin-bottom: 0;
    }
    .hero-pro {
        top: -50px;
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
    }
    section {
        padding: 30px 0;
    }
   
}
@media only screen and (max-width:375px){}
@media only screen and (max-width:320px){}